* {
    padding: 0;
    margin: 0;    
}

body {
    background-color: rgba(34, 34, 34, 1);
}

.header {
    
    
}

.header-background {
    margin: 0 auto;
    
}
.header-background img {
    width: 100%;
    max-height: 700px;
    height: auto;
    position: relative;
    bottom: 43px;

}


.header-logo img {
    position: relative;
    width: 50%;
    height: auto;
    max-height: 131px;
    display: block;
    max-width: 449px;
    margin: 0px auto;
    transform: translate(0px, -200px);
}

.container {
    margin: 0 auto;
    max-width: 900px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.character-rectangle {
    width: 181px;
    height: 300px;
    border: 1px solid rgb(255, 255, 255);
    margin: 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-line {
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 25px;
}

.character-image {
    width: 90%;
    position: relative;
    bottom: 17px;
}

.character-image img {
    width: 100%;
    
}